.car__rental__main {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 0 23px;
}

.descr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
}

.descr p {
    font-weight: bold;
    margin-left: 7px;
    
}

.descr div {
    color: var(--text-blue-color);
    margin-left: 5px;
    font-weight: bold;
}


.devider   {
    width: 20px;
    height: 2px;
    background: var(--text-blue-color);
}

.main__text {
    margin-top: 20px;
    font-size: 200px;
    word-wrap: break-word;
    color: var(--brand-color-yellow);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    
}

.buttons    {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.learn__more {
    display: flex;
    justify-content: center;
    align-items: center;
    width:165.117px;
    height: 16.5;
    background: var(--brand-color-yellow);
    border-radius: 25px;
    font-size: 16.5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700
    
}
