@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;

    
}


.main__page {
    background: url(../img/tesla1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25px 56px;
    
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 24px; */
}

:root {
    --text-color: rgb(34, 34, 34);
    --text-blue-color:#1088e4;
    --brand-color-yellow:#f6c43d;
    --font-style-barlow:
    
}