@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.main__page {
    background: url(../img/Tesla2.png);
    min-height: 100%;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 24px; */
}

:root {
    --text-color: rgb(34, 34, 34);
    --text-blue-color:#1088e4;
    --brand-color-yellow:#f6c43d;
    font-family: 'Ubuntu', sans-serif;
}